<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BNI</title>
</head>
<body>

    <H1>BNI DASHBOARD</H1>

    <P>Welcome to BNI DASHBOARD</P>
    
</body>
</html>